<div class="container" data-ng-controller="galleryController">
	<div class="page-header">
		<h6>New gallery</h6>
	</div>

	<div class="col-md-12">
		<form name="galleryForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="galleryTitle" type="text" data-ng-model="galleryTitle" id="galleryTitle" class="form-control" placeholder="gallery Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Upload an image</label>
					<div class="controls">
              <input class="btn btn-default form-control" id="file" type="file" onchange="angular.element(this).scope().imageUpload(event)" multiple />
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{progress}}%;"></div>
              </div>
						<!-- <input name="images" type="file" data-ng-model="postImages" id="postImages" class="form-control" placeholder="Upload your images" /> -->
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
			</fieldset>
		</form>
	</div>
</div>
