<div id="posts" ng-controller="postController" ng-init="init()">
  <div class="container-fluid">
    <div class="row">

    <div ng-repeat="p in posts" class="blog-entries" id="posts">
      <div class="block-wrapper" style="height: 300px; background: url({{p.images}})">
        <div class="block-preview">
          <p class="subtitle">{{p.title}}</p>
          <span class="more-dott" data-target="#post-47">...</span>
        </div>
        <article class="block-content" id="post-47">
          <div>
            <div>
              <h2>{{p.title}}</h2>
                <div class="post-meta">
                      <ul>
                          <li><time class="fa fa-calendar-o" datetime="2013.07.08"> 08.07.2013</time></li>
                          <li><a href="" class="fa fa-folder-o"> Fusce sodales</a></li>
                          <li><a class="fa fa-comment-o" href="#"> Comments&nbsp;(1)</a></li>
                      </ul>
                </div>
                <p>{{p.content}}</p>
                <p><a data-ng-click="goToView(p);" class="button">Read more</a></p>
              </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
</div>
<!--
<div class="thumbnail">
    <div class="image">
        <img  src="http://placehold.it/320x240" alt="Some awesome text"/>
    </div>
</div> -->
