html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-family: 'Lato', sans-serif;
  color: #710f11;
}
h1 {
  font-size: 89.764px !important;
  font-size: 8.9764rem !important;
}
h2 {
  font-size: 67.34px !important;
  font-size: 6.734rem !important;
}
h3 {
  font-size: 50.517px !important;
  font-size: 5.0517rem !important;
}
h4 {
  font-size: 37.897px !important;
  font-size: 3.7897rem !important;
}
h5 {
  font-size: 28.43px !important;
  font-size: 2.843rem !important;
}
h6 {
  font-size: 21.328px !important;
  font-size: 2.1328rem !important;
}
p,
a {
  font-size: 16px !important;
  font-size: 1.6rem !important;
}
html {
  font-size: 62.5%;
  background: #fcfcfc;
}
body {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  color: #710f11;
  background: #fcfcfc;
  letter-spacing: 1px;
}
table {
  font-size: 12.003px !important;
  font-size: 1.2003rem !important;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.imagewrap {
  display: inline-block;
  position: relative;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-70 {
  margin-top: 70px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mw-700 {
  max-width: 700px;
}
/*gt-Notifications{
  width: 100vw;
  height: 100vh;
  position: fixed;
  color: #fff;
  z-index: -9999;
}

gt-Notification{
  position: absolute;;
  width: 100%;
  top: 50px;
  text-align: right;
  padding: 15px 90px;
  margin-bottom: 15px;
  border-radius: 3px;
  display: block;
  z-index: 1199;
}

.success {
   background-color: rgba(92,184,92,1);
}

.failure {
   background-color: rgba(217,83,79,1);
}

*/
#Layer_1 {
  opacity: 0;
  padding: 10px;
  position: fixed;
  width: 50px;
  height: 50px;
  background: #000;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.logo {
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  position: absolute;
  z-index: 8;
  top: 35px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  height: 70px;
  padding: 20px 0 0 0;
  transition: all .4s linear;
  -o-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -webkit-transition: all .4s linear;
  opacity: 1;
}
.logo a {
  font-size: 21.328px !important;
  font-size: 2.1328rem !important;
  text-decoration: none;
  color: #710f11;
}
@media (min-width: 768px) {
  .logo {
    top: 20px;
  }
}
.navbar-default {
  margin-top: 65px;
  border: none;
  background: #fcfcfc;
  color: #710f11;
}
.navbar-default .navbar-collapse {
  border: none;
}
.navbar-default .navbar-form {
  border: none;
}
.navbar-default .navbar-toggle {
  margin-top: -47px;
  background: none;
  border: none;
}
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #710f11;
}
.navbar-collapse[aria-expanded=false] {
  height: 0;
  padding: 0 0 -30px !important;
  margin: 0!important;
}
.navbar-nav li {
  max-width: 300px;
  margin: auto;
}
.navbar-left li {
  padding-top: 15px;
  padding-bottom: 14px;
  z-index: 9999;
}
.navbar-left li a {
  padding: 0;
  margin: 0;
  display: inline-block;
}
.navbar-right li a {
  color: #710f11 !important;
  font-size: 16px !important;
  font-size: 1.6rem !important;
  text-transform: capitalize;
  padding-top: 15px;
  padding-bottom: 14px;
  border-top: 1px solid #c57329;
}
.navbar-right li a:hover {
  color: #c57329 !important;
}
@media (min-width: 768px) {
  .navbar-default {
    padding-top: 10px!important;
    padding-bottom: 16px!important;
  }
  .navbar-default li:not(:first-child):before {
    content: '.';
    font-weight: 700;
    position: absolute;
    top: 12px;
    font-size: 21px !important;
    font-size: 2.1rem !important;
    left: -2px;
  }
  .navbar-default li a {
    border: none!important;
  }
  .navbar-left {
    margin-top: -70px;
  }
  .navbar-right {
    white-space: nowrap;
    display: inline-block;
    float: none!important;
    vertical-align: top;
    margin-left: -38px;
  }
  .navbar-collapse {
    text-align: center;
  }
}
.room-title {
  white-space: nowrap;
  position: absolute;
  bottom: -15px;
  text-transform: uppercase;
  font-size: 16px !important;
  font-size: 1.6rem !important;
  font-weight: 400;
  color: white;
  padding: 10px;
  background: #c57329;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.room-pic {
  width: 100%;
  max-width: 600px;
  height: 300px;
}
.description {
  font-weight: 700!important;
}
@media (min-width: 768px) {
  .description {
    padding: 0 150px 0 150px !important;
  }
}
.food-title {
  white-space: nowrap;
  position: absolute;
  bottom: -10px;
  text-transform: uppercase;
  font-size: 16px !important;
  font-size: 1.6rem !important;
  font-weight: 400;
  color: white;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.food-title span {
  display: inline;
  padding: 10px;
  background: #c57329;
  font-size: 16px !important;
  font-size: 1.6rem !important;
}
.food-title span:first-child {
  margin-right: 10px;
}
.food-title .selected {
  background: #710f11;
}
.food-pic {
  background: url('/img/food.jpg') center no-repeat;
  background-size: cover;
  width: 100%;
  margin: auto;
  max-width: 960px;
  height: 300px;
}
.horaire {
  text-align: center;
  margin-bottom: 30px;
}
.horaire .title {
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 12.003px !important;
  font-size: 1.2003rem !important;
}
.horaire .title:not(:first-child) {
  padding-top: 15px;
}
.menu {
  background: #c57329;
  max-width: 100px;
  color: white;
  z-index: 10000;
  text-transform: uppercase;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
}
.align-left p {
  font-size: 12.003px !important;
  font-size: 1.2003rem !important;
}
.align-left .desc-title {
  font-size: 16px !important;
  font-size: 1.6rem !important;
  font-weight: 700;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .food-pic {
    min-height: 400px;
    width: 100%;
  }
  .food-title h6:first-child {
    margin-right: 20px;
  }
  .align-left {
    margin-left: -30px;
    text-align: left;
  }
  .horaire {
    float: left;
    margin-bottom: none;
  }
}
.img {
  width: 300px;
  padding: 0 100px 0 100px;
  height: 400px;
  padding: 3px;
}
.img-pair {
  border-top: 1px solid #710f11;
  border-left: 1px solid #710f11;
}
.img-impair {
  border-top: 1px solid #710f11;
  border-right: 1px solid #710f11;
}
.minw-700 h5 {
  color: #c57329;
}
@media (min-width: 768px) {
  .minw-700 {
    min-width: 500px;
    max-width: 1000px;
  }
  .img-pair {
    float: left!important;
    margin-right: 40px;
  }
  .img-impair {
    float: right!important;
    margin-left: 40px;
  }
}
.galerie-title {
  color: #c57329;
  text-transform: uppercase;
}
.img-responsive {
  display: block;
  width: 100%;
  max-height: 400px;
}
@media (min-width: 768px) {
  .img-responsive {
    width: 360px;
    height: 205px;
  }
}
.google-maps {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 400px !important;
}
@media (min-width: 768px) {
  .google-maps {
    height: 400px;
  }
}
.btn-primary {
  background: #c57329 !important;
}
.login {
  text-align: left;
}
.dashboard {
  text-align: left;
}
.buttonImg {
  font-size: 16px !important;
  font-size: 1.6rem !important;
  text-align: center;
  padding: 20px;
}
button[type=submit] {
  float: right;
  background: #c57329;
  padding: 20px;
  border: none;
  color: white;
}
.langMenu span {
  cursor: pointer;
}
.btn-warning {
  background: #710f11 !important;
}
