<div class="container" ng-controller="roomCtrl" ng-init="init()">


  <div class="page-header">
		<h6>Renseignez une nouvelle chambre</h6>
	</div>

  <form name="form">
  <div class="col-xs-12 col-sm-6">
    <p class="mb-20">En français</p>
      <div class="form-group">
        <label class="control-label" for="title">Type</label>
        <div class="controls">
          <input name="roomType" type="text" data-ng-model="roomTypeFr" id="roomType" class="form-control" placeholder="Type" required>
        </div>
      </div>
  		<div class="form-group">
  			<label class="control-label" for="content">Description</label>
  			<div class="controls">
  				<textarea name="roomContent" data-ng-model="roomContentFr" id="roomContent" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
  			</div>
  		</div>
      <div class="form-group">
  			<label class="control-label" for="title">Renseignez les équipements séparés par une virgule</label>
  			<div class="controls">
  				<input name="roomAmneties" type="text" data-ng-model="roomAmnetiesFr" id="roomAmneties" class="form-control" placeholder="free-wifi, téléphone, bain" required>
  			</div>
  		</div>
      <div class="form-group">
  			<label class="control-label" for="title">Prix</label>
  			<div class="controls">
  				<input name="roomPrice" type="text" data-ng-model="roomPriceFr" id="roomPrice" class="form-control" placeholder="ex: 59€ par nuit" required>
  			</div>
  		</div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <p class="mb-20">En Anglais</p>
    <div class="form-group">
      <label class="control-label" for="title">Type</label>
      <div class="controls">
        <input name="roomType" type="text" data-ng-model="roomTypeEn" id="roomType" class="form-control" placeholder="Type" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="content">Description</label>
      <div class="controls">
        <textarea name="roomContent" data-ng-model="roomContentEn" id="roomContent" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Renseignez les équipements séparés par une virgule</label>
      <div class="controls">
        <input name="roomAmneties" type="text" data-ng-model="roomAmnetiesEn" id="roomAmneties" class="form-control" placeholder="free-wifi, téléphone, bain" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="title">Prix</label>
      <div class="controls">
        <input name="roomPrice" type="text" data-ng-model="roomPriceEn" id="roomPrice" class="form-control" placeholder="ex: 59€ par nuit" required>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="buttonImg" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
      ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="300">Cliquez pour sélectionner une image</div>
      <img ngf-thumbnail="file"  ngf-size="{width: 60, height: 60, quality: 0.9}">
    <button type="submit" ng-click="submit()">Créer la chambre</button>
  </div>

</form>


  <div class="col-xs-12 mb-30">
    <div class="page-header">
      <h6>Listing de toutes les chambres</h6>
    </div>
    <div class="lead table-responsive">
      <table class="table table-striped">
        <tr>
          <th>Language</th>
          <th>Type</th>
          <th>Description</th>
          <th>Prix</th>
          <th>Equipements</th>
          <th ng-show="isAdmin()">Vérifier</th>
          <th ng-show="isAdmin()">Supprimer</th>
        </tr>
        <tbody ng-repeat="r in rooms">
          <tr>
            <td>fr</td>
            <td>{{r.typefr}}<br></td>
            <td>{{r.contentfr}}</td>
            <td>{{r.pricefr}}</td>
            <td><p ng-repeat="a in r.amnetiesfr">{{a}}</p></td>
            <td><button data-ng-click="goToView(r);">Vérifier</button></td>
            <td ng-show="isAdmin()"><button  data-ng-click="remove(r);">Supprimer</button></td>
          </tr>
          <tr>
            <td>en</td>
            <td>{{r.typeen}}<br></td>
            <td>{{r.contenten}}</td>
            <td>{{r.priceen}}</td>
            <td><p ng-repeat="a in r.amnetiesen">{{a}}</p></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
