<div class="container">

  <div class="row">
    <h6 class="galerie-title mt-20 mb-30">l'hotel</h6>

    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="/img/ville.png" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </div>
  </div>


  <div class="row">
    <h6 class="galerie-title mt-20 mb-30">les chambres</h6>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="/img/chambre.png" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </div>

  </div>


  <div class="row">
    <h6 class="galerie-title mt-20 mb-30">le restaurant</h6>

    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="/img/food.jpg" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="/img/resto.png" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </div>
    <div class="col-sm-6 col-md-4 mb-20">
      <img class="img-responsive" src="http://placehold.it/700x400" alt="">
    </div>
  </div>



</div>
