<div class="container" ng-controller="offreController" ng-init="init()">

  <div class="room" ng-repeat="p in offres">
    <div class="row">
      <div class="col-xs-12 img-wrap">
        <img class="room-pic" src="{{p.image}}">
        <h6 class="room-title">{{getLang(p, 'title')}}</h6>
      </div>
    </div>
    <div class="row mt-40">
      <div class="col-xs-12 mb-20">
        <div class="description">
          <p>{{getLang(p, 'content')}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
