<div class="container">

    <div class="col-xs-12 col-md-8 col-md-offset-2 mt-40">

      <div class="row mb-40 minw-700">
        <img class="img img-pair" src='http://placehold.it/300x400'/>
        <h5 class="mt-70 mb-40">Salle de réception</h5>
        <p class="mt-30 mb-30">Circumcluditur ex ambit aliquotiens omni erectus orbis quam trecentis pertulit multiplices deinde ad ex laureas aetatem ad ex in deinde adultam nomine trecentis aerumnas extremum laureas bellorum ad aetatem ad tranquilliora quod fretum reportavit vincens vitae post solo ingressus extremum.</p>
        <p>Nous contacter par mail ou par téléphone pour tout renseignement complémentaires.</p>
      </div>


      <div class="row mb-40 minw-700">
        <img class="img img-impair" src='http://placehold.it/300x400'/>
        <h5 class="mt-70 mb-40">Séminaire</h5>
        <p class="mt-30 mb-30">Circumcluditur ex ambit aliquotiens omni erectus orbis quam trecentis pertulit multiplices deinde ad ex laureas aetatem ad ex in deinde adultam nomine trecentis aerumnas extremum laureas bellorum ad aetatem ad tranquilliora quod fretum reportavit vincens vitae post solo ingressus extremum.</p>
        <p>Nous contacter par mail ou par téléphone pour tout renseignement complémentaires.</p>
      </div>

    </div>

</div>
