<div class="container" data-ng-controller='roomCtrl' ng-init="init()">

  <div class="room" ng-repeat="r in rooms">
    <div class="row">
      <div class="col-xs-12 img-wrap">
        <img class="food-pic" src="{{r.image}}">
        <h6 class="room-title">{{getLang(r, 'type')}}</h6>
      </div>
    </div>
    <div class="row mt-40">
      <div class="col-xs-12 mb-20">
        <div class="description">
          <p>{{getLang(r, 'content')}}</p>
        </div>
        <div class="mt-20">
          <p ng-repeat="a in getLang(r, 'amneties')">{{a}}</p>
        </div>
        <div class="mt-20">
          <p>{{getLang(r, 'price')}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
