<div class="container">

  <div class="room">
    <div class="row">
      <div class="col-xs-12 img-wrap">
        <img class="room-pic" src="img/chambre.png">
        <h6 class="room-title">Chambre simple</h6>
      </div>
    </div>
    <div class="row mt-40">
      <div class="col-xs-12 mb-20">
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="mt-20">
          <p>Free-wifi</p>
          <p>Télévision écran-plat</p>
          <p>Chambre avec baignoire</p>
          <p>Téléphone</p>
        </div>
        <div class="mt-20">
          <p>59€ / nuit</p>
        </div>
      </div>
    </div>
  </div>

  <div class="room">
    <div class="row">
      <div class="col-xs-12 img-wrap">
        <img class="room-pic" src="img/chambre.png">
        <h6 class="room-title">Chambre double</h6>
      </div>
    </div>
    <div class="row mt-40">
      <div class="col-xs-12 mb-20">
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="mt-20">
          <p>Free-wifi</p>
          <p>Télévision écran-plat</p>
          <p>Chambre avec baignoire</p>
          <p>Téléphone</p>
        </div>
        <div class="mt-20">
          <p>59€ / nuit</p>
        </div>
      </div>
    </div>
  </div>

  <div class="room">
    <div class="row">
      <div class="col-xs-12 img-wrap">
        <img class="room-pic" src="img/chambre.png">
        <h6 class="room-title">Chambre triple</h6>
      </div>
    </div>
    <div class="row mt-40">
      <div class="col-xs-12 mb-20">
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="mt-20">
          <p>Free-wifi</p>
          <p>Télévision écran-plat</p>
          <p>Chambre avec baignoire</p>
          <p>Téléphone</p>
        </div>
        <div class="mt-20">
          <p>59€ / nuit</p>
        </div>
      </div>
    </div>
  </div>

  <div class="room">
    <div class="row">
      <div class="col-xs-12 img-wrap">
        <img class="room-pic" src="img/chambre.png">
        <h6 class="room-title">Chambre quadruple</h6>
      </div>
    </div>
    <div class="row mt-40">
      <div class="col-xs-12 mb-20">
        <div class="description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="mt-20">
          <p>Free-wifi</p>
          <p>Télévision écran-plat</p>
          <p>Chambre avec baignoire</p>
          <p>Téléphone</p>
        </div>
        <div class="mt-20">
          <p>59€ / nuit</p>
        </div>
      </div>
    </div>
  </div>


</div>
