<div class="container">

    <div class="col-xs-12 col-md-8 col-md-offset-2 mt-40">

      <div class="row mb-40 minw-700">
        <img class="img img-pair" src='http://placehold.it/300x400'/>
        <h5 class="mt-70 mb-40">Activité I</h5>
        <p class="mt-30 mb-30">Circumcluditur ex ambit aliquotiens omni erectus orbis quam trecentis pertulit multiplices deinde ad ex laureas aetatem ad ex in deinde adultam nomine trecentis aerumnas extremum laureas bellorum ad aetatem ad tranquilliora quod fretum reportavit vincens vitae post solo ingressus extremum.</p>
        <a href="#">Voir le site officiel</a>
      </div>


      <div class="row mb-40 minw-700">
        <img class="img img-impair" src='http://placehold.it/300x400'/>
        <h5 class="mt-70 mb-40">Activité II</h5>
        <p class="mt-30 mb-30">Circumcluditur ex ambit aliquotiens omni erectus orbis quam trecentis pertulit multiplices deinde ad ex laureas aetatem ad ex in deinde adultam nomine trecentis aerumnas extremum laureas bellorum ad aetatem ad tranquilliora quod fretum reportavit vincens vitae post solo ingressus extremum.</p>
        <a href="#">Voir le site officiel</a>
      </div>


      <div class="row mb-40 minw-700">
        <img class="img img-pair" src='http://placehold.it/300x400'/>
        <h5 class="mt-70 mb-40">Activité III</h5>
        <p class="mt-30 mb-30">Circumcluditur ex ambit aliquotiens omni erectus orbis quam trecentis pertulit multiplices deinde ad ex laureas aetatem ad ex in deinde adultam nomine trecentis aerumnas extremum laureas bellorum ad aetatem ad tranquilliora quod fretum reportavit vincens vitae post solo ingressus extremum.</p>
        <a href="#">Voir le site officiel</a>
      </div>

    </div>

</div>
