<div class="container">

    <div class="col-xs-12 col-md-8 col-md-offset-2 mt-40">

      <div class="row mb-40 minw-700">
        <img class="img img-pair" src='/img/disney.jpg'/>
        <h5 class="mt-70 mb-40">Walt disney</h5>
        <p class="mt-30 mb-30">Profitez d'un instant inoubliable avec Mickey, Donald et toute la clique</p>
        <a href="#">Voir le site officiel</a>
      </div>


      <div class="row mb-40 minw-700">
        <img class="img img-impair" src='/img/disney.jpg'/>
        <h5 class="mt-70 mb-40">Walt disney</h5>
        <p class="mt-30 mb-30">Profitez d'un instant inoubliable avec Mickey, Donald et toute la clique</p>
        <a href="#">Voir le site officiel</a>
      </div>


      <div class="row mb-40 minw-700">
        <img class="img img-pair" src='/img/disney.jpg'/>
        <h5 class="mt-70 mb-40">Walt disney</h5>
        <p class="mt-30 mb-30">Profitez d'un instant inoubliable avec Mickey, Donald et toute la clique</p>
        <a href="#">Voir le site officiel</a>
      </div>

    </div>

</div>
