<div class="container" ng-controller="offreController" ng-init="init()">


  <div class="page-header">
		<h6>Créer une nouvelle offre</h6>
	</div>

  <form name="form">
  <div class="col-xs-12 col-sm-6">
    <p class="mb-20">En français</p>
  		<div class="form-group">
  			<label class="control-label" for="title">Titre</label>
  			<div class="controls">
  				<input name="offreTitle" type="text" data-ng-model="offreTitleFr" id="offreTitle" class="form-control" placeholder="Titre" required>
  			</div>
  		</div>
  		<div class="form-group">
  			<label class="control-label" for="content">Description</label>
  			<div class="controls">
  				<textarea name="offreContent" data-ng-model="offreContentFr" id="offreContent" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
  			</div>
  		</div>

  </div>

  <div class="col-xs-12 col-sm-6">
    <p class="mb-20">En Anglais</p>
  		<div class="form-group">
  			<label class="control-label" for="title">Titre</label>
  			<div class="controls">
  				<input name="offreTitle" type="text" data-ng-model="offreTitleEn" id="offreTitle" class="form-control" placeholder="Titre" required>
  			</div>
  		</div>
  		<div class="form-group">
  			<label class="control-label" for="content">Description</label>
  			<div class="controls">
  				<textarea name="offreContent" data-ng-model="offreContentEn" id="offreContent" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
  			</div>
  		</div>

  </div>
  <div class="col-xs-12">
    <div class="buttonImg" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
      ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="300">Cliquez pour sélectionner une image</div>
    <button type="submit" ng-click="submit()">Créer l'offre</button>

    <!-- Image thumbnail: <img ngf-thumbnail="file || '/thumb.jpg'"> -->
  </div>

</form>


  <div class="col-xs-12">

  <div class="page-header">
    <h6>Listing de toutes les offres</h6>
  </div>


  <p class="lead">
    <table class="table table-striped">
      <tr>
        <th>Language</th>
        <th>Titre</th>
        <th>Description</th>
        <th ng-show="isAdmin()">Vérifier</th>
        <th ng-show="isAdmin()">Supprimer</th>
      </tr>
      <tbody ng-repeat="p in offres">
        <tr>
          <td>fr</td>
          <td>{{p.titlefr}}<br></td>
          <td>{{p.contentfr}}</td>
          <td><button data-ng-click="goToView(p);">Vérifier</button></td>
          <td ng-show="isAdmin()"><button  data-ng-click="remove(p);">Supprimer</button></td>
        </tr>
        <tr>
          <td>en</td>
          <td>{{p.titleen}}</td>
          <td>{{p.contenten}}</td>
          <td><button data-ng-click="goToView(p);">Vérifier</button></td>
          <td ng-show="isAdmin()"><button  data-ng-click="remove(p);">Supprimer</button></td>
        </tr>
      </tbody>
    </table>
  </p>

  </div>

</div>
