<div class="container mb-80" ng-controller="offreController" ng-init="findOne()">
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="room">
      <div class="row">
        <div class="col-xs-12 img-wrap">
          <img ng-if="file" ngf-src="file" ngf-resize="{width: 480, height: 300}">
          <img ng-show="!file" class="room-pic" ng-src="{{offre.image}}">
          <h6 class="room-title">{{offre.titlefr}}</h6>
        </div>
      </div>
      <div class="row mt-40">
        <div class="col-xs-12 mb-20">
          <div class="description">
            <p>{{offre.contentfr}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div class="room">
      <div class="row">
        <div class="col-xs-12 img-wrap">
          <img ng-if="file" ngf-src="file" ngf-resize="{width: 480, height: 300}">
          <img ng-show="!file" class="room-pic" ng-src="{{offre.image}}">
          <h6 class="room-title">{{offre.titleen}}</h6>
        </div>
      </div>
      <div class="row mt-40">
        <div class="col-xs-12 mb-20">
          <div class="description">
            <p>{{offre.contenten}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="page-header">
      <h6>Editer cette offre</h6>
    </div>
  </div>
  <form name="form">
    <div class="col-xs-12 col-sm-6">
      <p class="mb-20">En français</p>
    		<div class="form-group">
    			<label class="control-label" for="title">Titre</label>
    			<div class="controls">
    				<input name="offreTitle" type="text" data-ng-model="offre.titlefr" id="offreTitle" class="form-control" placeholder="Titre" required>
    			</div>
    		</div>
    		<div class="form-group">
    			<label class="control-label" for="content">Description</label>
    			<div class="controls">
    				<textarea name="offreContent" data-ng-model="offre.contentfr" id="offreContent" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
    			</div>
    		</div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p class="mb-20">En Anglais</p>
    		<div class="form-group">
    			<label class="control-label" for="title">Titre</label>
    			<div class="controls">
    				<input name="offreTitle" type="text" data-ng-model="offre.titleen" id="offreTitle" class="form-control" placeholder="Titre" required>
    			</div>
    		</div>
    		<div class="form-group">
    			<label class="control-label" for="content">Description</label>
    			<div class="controls">
    				<textarea name="offreContent" data-ng-model="offre.contenten" id="offreContent" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
    			</div>
    		</div>
    </div>
    <div class="col-xs-12">
      <div class="buttonImg" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
        ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="300">Cliquez pour sélectionner une image</div>
        <button type="submit" ng-click="update(offre)">Mettre à jour</button>
    </div>
  </form>
</div>
