<div class="unselectable logo">
  <h6>hotel de l'ours</h6>
</div>

<div class="navbar navbar-default" role="navigation" ng-controller="headerCtrl">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
     </button>
    </div>
    <div id="closeIt" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <span ng-click="changeLang('en')">EN</span> |
          <span ng-click="changeLang('fr')">FR</span>
        </li>
      </ul>
      <ul id="nav-main" class="nav navbar-nav navbar-right">
        <li ng-repeat="m in menu">
          <a href="{{m.link}}">{{getLang(m)}}</a>
        </li>
        <!--
        <li><a href="/chambres">chambres</a></li>
        <li><a href="/restaurant">restaurant</a></li>
        <li><a href="/offres">offres</a></li>
        <li><a href="/privatiser">privatiser</a></li>
        <li><a href="/tourisme">tourisme</a></li>
        <li><a href="/galerie">galerie</a></li>
        <li><a href="/venir">venir</a></li> -->
        <!-- <li ng-show="isAdmin()" ng-class="{active:isActive('/dashboard')}"><a ng-href="#/dashboard">dashboard</a></li>
        <li><a href="javascript:" ng-click="logout()" ng-show="showMenu">Logout</a></li> -->
      </ul>
    </div>
</div>
