<div class="container" ng-controller="privateController">

  <form name="myForm">
    <label for="singleSelect"> Single select: </label><br>
    <select name="singleSelect" ng-model="data.singleSelect">
      <option value="users">Users</option>
      <option value="galleries">Galleries</option>
      <option value="posts">Posts</option>
    </select><br>
  </form>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div ng-show="check('galleries')"  ng-include="'dashboard/gallery/list.html'"></div>
        <div ng-show="check('galleries')" ng-include="'dashboard/gallery/create.html'"></div>

        <div ng-show="check('posts')"  ng-include="'dashboard/post/list.html'"></div>
        <div ng-show="check('posts')"  ng-include="'dashboard/post/create.html'"></div>

        <div ng-show="check('users')"  ng-include="'dashboard/user/list.html'"></div>
        <div ng-show="check('users')"  ng-include="'dashboard/user/create.html'"></div>
      </div>
    </div>
  </div>
  <!-- <gt-Notification ng-show="data.on" class="success">Welcome back</gt-Notification> -->

</div>
